.brandTitle {
	font-size: 48px;
	font-family: 'Bebas Neue', sans-serif;
  }
  
  .brandName {
	font-size: 14px;
	font-family: 'Bebas Neue', sans-serif;
  }
  
  .productDetails {
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	font-weight: 900;
  }
  
  .productPrice {
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
  }
  