/* Custom CSS for additional responsiveness can go here */
.responsive-nav {
  /* Add your custom styles for responsiveness */
}

.admin-main-content {
  /* Custom styles for main content area */
}

.products-admin-container {
  /* Custom styles for the entire ProductsAdmin container */
}

p {
  font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px !important;
}

@media (max-width: 767.98px) { /* sm breakpoint */
  .hide-on-small {
    display: none !important;
  }
}