.brandTitle {
	font-size: 48px !important;
	font-family: 'Bebas Neue', sans-serif;
	color: black !important;
}

.brandName {
	font-size: 14px !important;
	font-family: 'Bebas Neue', sans-serif;
}

.productDetails {
	font-size: 16px !important;
	font-family: 'Oswald', sans-serif;
	font-weight: 900 !important;
}

.productPrice {
	font-size: 14px !important;
	font-family: 'Oswald', sans-serif;
}