.landingDiv {
  background-image: url(./titan-banner-0.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* Responsive typography */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 1.5em;
  }
}
